<section class="container">
    <h1>Angular2 Bootstrap Modal</h1>
    <hr>

    <h2>Configuration</h2>
    <hr>

    <h2>Common Usage</h2>
    <hr>
    <p>
        <button type="button" class="btn btn-default" (click)="modal.open()">Open me!</button>
    </p>


    <h2>Output</h2>
    <pre>{{ output }}</pre>

    <modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" [cssClass]="cssClass" #modal  >
        <modal-header [show-close]="true">
            <h4 class="modal-title">I'm a modal!</h4>
        </modal-header>
        <modal-body>
            <ul>
                <li *ngFor="let item of items">
                    <a href="#" (click)="$event.preventDefault(); selected = item">{{ item }}</a>
                </li>
            </ul>
            <p *ngIf="selected">Selected: <b>{{ selected }}</b></p>
        </modal-body>
        <modal-footer [show-default-buttons]="true"></modal-footer>
    </modal>
</section>